---
layout: _includes/layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section>
  <h2>404 — Halaman tidak ditemukan</h2>
  <p>Maaf, halaman yang Anda cari tidak ditemukan. <a href="/">Kembali ke beranda</a>.</p>
</section>
