{% set recent = collections.post | reverse | slice(0,20) %}
{{ "<?xml version=\"1.0\" encoding=\"utf-8\"?>" | safe }}
<rss version="2.0">
  <channel>
    <title>Blog Fakih</title>
    <!-- TODO: Replace https://example.com with actual blog domain -->
    <link>{{ "https://example.com/" }}</link>
    <description>Catatan ngoding dan resep mie</description>
    {% for item in recent %}
      <item>
        <title>{{ item.data.title }}</title>
        <link>{{ ("https://example.com" + item.url) }}</link>
        <pubDate>{{ item.date.toUTCString() }}</pubDate>
        <description><![CDATA[{{ item.templateContent | safe }}]]></description>
      </item>
    {% endfor %}
  </channel>
</rss>
